body > div.container {
  width: 970px !important;
  padding-top: 50px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 24px;
}

.header h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0.2em 0;
}

div.links {
  padding-bottom: 50px;
  border-bottom: 1px solid #cecece;
}

ul.moreinfo {
  text-align: center;
  padding: 0.7em 0 0 0;
  margin: 0;
  font-size: 1.5em;
}
ul.moreinfo li {
  display: inline;
  list-tyle-type: none;
  padding: 0 0.2em;
}

ul.moreinfo li.cv {
  padding-left: 2em;
  font-size: 0.8em
}

span.tek {
  padding: 0 0.2em;
  font-weight: bold;
}

div.refs {
  padding-top: 25px;
}

div.refs ul {
  padding-left: 20px;
}

div.refs h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
}

div.refs h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

div.refs p {
  font-size: 12px;
}
